*{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

header{
  display: flex;
  flex-direction: column;
  color: white;
  background: url("../images/glasses-bg.png") no-repeat center center;
  background-size: cover;
  height: 30rem;
}

.nav_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: cadetblue;
  width: 960px;
  margin: 1rem auto;
}

.nav_img_container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile_nav{
  display: none;
}

.nav_img_container img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}

nav ul li{
  padding: 1rem 2rem;
}

.title{
  margin-top: 10rem;
  color: black;
  text-align: right;
  margin-right: 9rem;
}


.title h1{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  margin: 0;
  display: inline-block;
  line-height: 1.2;
  padding: 1.5rem 5rem;

}

.features{
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.feat_col{
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  margin-right: 3rem;
  margin-left: 3rem;
  height: 8rem;
  align-items: center;
  justify-content: flex-end;
}

.feat_img{
  text-align: center;
}

#paper{
  width: 3.5rem;
}

#truck,
#ruler{
  width: 5rem;
}

.feat_txt{
  margin: 1rem;
  text-align: center;
}

.info{
  display: flex;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 5rem;
}

.info_col{
  width: 25%;
  padding: 1rem;
}

.info_img p{
  color: white;
  background: cadetblue;
  width: 10rem;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

footer{
background-color: azure;
height: 9rem;
display: flex;
align-items: center;
width: 960px;
margin: 0 auto;
}

footer img{
  display: inline;
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

footer div{
  display: inline;
  align-content: center;
}


/* MEDIA QUERY AREA */

@media only screen and (max-width: 1024px){ /*TABLET*/

  html{
    max-width: 1024px;
  }

  .nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: cadetblue;
    width: 100%;
    margin: -10px auto;
  }

  header{
    height: 22rem;
  }

  .title{
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .title h1{
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

} /*END OF 1024PX RULES*/

@media only screen and (max-width: 470px){/*MOBILE RULES*/

  html{
    max-width: 470px;
  }

  .nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: cadetblue;
    width: 100%;
    margin: -10px auto;
    padding: 0;
    height: 3rem;
  }

  .nav_img_container span{
    display: none;
  }

  .nav_bar nav{
    display: none;
  }

  .nav_bar .mobile_nav{
    display: flex;
    color: white;
    padding: 0rem 1rem;
  }

  .nav_img_container img{
    height: 1rem;
    padding: 0.5rem 1rem;
  }

  header{
    height: 17rem;
    background-position: 20%;
  }

  .title{
    margin-top: 10rem;
    margin-right: 0;
  }

  .title h1{
    padding: 0.75rem 4rem;
    font-size: 1rem;
    display: block;
  }

  .features{
    flex-direction: column;
  }

  .info{
    flex-direction: column;
  }

  .info_col{
    width: 100%;
  }

  footer{
    background: none;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  footer div{
    display: none;
  }




}/* END OF MOBILE RULES */
